USE [master]
GO
/****** Object:  Database [PlataformaIdeacion]    Script Date: 25/04/2016 12:18:26 p. m. ******/
CREATE DATABASE [PlataformaIdeacion]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'PlataformaIdeacion', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.MSSQLSERVER\MSSQL\DATA\PlataformaIdeacion.mdf' , SIZE = 3072KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'PlataformaIdeacion_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.MSSQLSERVER\MSSQL\DATA\PlataformaIdeacion_log.ldf' , SIZE = 1024KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [PlataformaIdeacion].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [PlataformaIdeacion]
GO
/****** Object:  Table [dbo].[Area_Del_Conocimiento]    Script Date: 25/04/2016 12:18:26 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Area_Del_Conocimiento](
	[id_Area_Del_Conocimiento] [int] NOT NULL,
	[nombre_Area] [nvarchar](1) NOT NULL,
 CONSTRAINT [PK_idArea] PRIMARY KEY CLUSTERED 
(
	[id_Area_Del_Conocimiento] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Calificacion]    Script Date: 25/04/2016 12:18:26 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Calificacion](
	[id_Idea] [int] NOT NULL,
	[id_Usuario] [nvarchar](50) NOT NULL,
	[calificacion] [decimal](5, 2) NOT NULL
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Comentario]    Script Date: 25/04/2016 12:18:26 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Comentario](
	[id_Idea] [int] NOT NULL,
	[id_Usuario] [nvarchar](50) NOT NULL,
	[comentario] [nvarchar](1) NOT NULL
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Idea]    Script Date: 25/04/2016 12:18:26 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Idea](
	[id_Idea] [int] NOT NULL,
	[hora_Publicacion] [date] NOT NULL,
	[fecha_Publicacion] [date] NOT NULL,
	[titulo] [varchar](250) NOT NULL,
	[calificacion_Promedio] [decimal](18, 0) NOT NULL,
	[autor] [nvarchar](1) NOT NULL,
	[resumen] [varchar](250) NOT NULL,
	[id_Usuario] [nvarchar](50) NOT NULL,
	[publicacion] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_idIdea] PRIMARY KEY CLUSTERED 
(
	[id_Idea] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Idea_Area]    Script Date: 25/04/2016 12:18:26 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Idea_Area](
	[id_Idea] [int] NOT NULL,
	[id_Area_Del_Conocimiento] [int] NOT NULL
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[U_Conocimiento]    Script Date: 25/04/2016 12:18:26 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[U_Conocimiento](
	[id_Usuario] [nvarchar](50) NOT NULL,
	[id_Area_Del_Conocimiento] [int] NOT NULL
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Usuario]    Script Date: 25/04/2016 12:18:26 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Usuario](
	[id_Usuario] [nvarchar](50) NOT NULL,
	[telefono] [nvarchar](50) NOT NULL,
	[correo] [nvarchar](50) NOT NULL,
	[nombre_Usuario] [nvarchar](50) NOT NULL,
	[tipo_De_Usuario] [nvarchar](50) NOT NULL,
	[carrera] [nvarchar](50) NOT NULL,
	[diploma] [image] NULL,
	[titulos] [nvarchar](50) NULL,
	[expediente_Laboral] [image] NULL,
	[informacion_Personal] [nvarchar](50) NULL,
 CONSTRAINT [PK_idUsuario] PRIMARY KEY CLUSTERED 
(
	[id_Usuario] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
ALTER TABLE [dbo].[Calificacion]  WITH CHECK ADD  CONSTRAINT [FK_id_idea] FOREIGN KEY([id_Idea])
REFERENCES [dbo].[Idea] ([id_Idea])
GO
ALTER TABLE [dbo].[Calificacion] CHECK CONSTRAINT [FK_id_idea]
GO
ALTER TABLE [dbo].[Calificacion]  WITH CHECK ADD  CONSTRAINT [FK_id_Usuario_Calificacion] FOREIGN KEY([id_Usuario])
REFERENCES [dbo].[Usuario] ([id_Usuario])
GO
ALTER TABLE [dbo].[Calificacion] CHECK CONSTRAINT [FK_id_Usuario_Calificacion]
GO
ALTER TABLE [dbo].[Comentario]  WITH CHECK ADD  CONSTRAINT [FK_id_Idea_en_comentario] FOREIGN KEY([id_Idea])
REFERENCES [dbo].[Idea] ([id_Idea])
GO
ALTER TABLE [dbo].[Comentario] CHECK CONSTRAINT [FK_id_Idea_en_comentario]
GO
ALTER TABLE [dbo].[Comentario]  WITH CHECK ADD  CONSTRAINT [FK_id_Usuario_en_comentario] FOREIGN KEY([id_Usuario])
REFERENCES [dbo].[Usuario] ([id_Usuario])
GO
ALTER TABLE [dbo].[Comentario] CHECK CONSTRAINT [FK_id_Usuario_en_comentario]
GO
ALTER TABLE [dbo].[Idea]  WITH CHECK ADD  CONSTRAINT [FK_idUsuario] FOREIGN KEY([id_Usuario])
REFERENCES [dbo].[Usuario] ([id_Usuario])
GO
ALTER TABLE [dbo].[Idea] CHECK CONSTRAINT [FK_idUsuario]
GO
ALTER TABLE [dbo].[Idea_Area]  WITH CHECK ADD  CONSTRAINT [FK_id_Area_Del_Conocimiento] FOREIGN KEY([id_Area_Del_Conocimiento])
REFERENCES [dbo].[Area_Del_Conocimiento] ([id_Area_Del_Conocimiento])
GO
ALTER TABLE [dbo].[Idea_Area] CHECK CONSTRAINT [FK_id_Area_Del_Conocimiento]
GO
ALTER TABLE [dbo].[Idea_Area]  WITH CHECK ADD  CONSTRAINT [FK_id_idea_en_idea_area] FOREIGN KEY([id_Idea])
REFERENCES [dbo].[Idea] ([id_Idea])
GO
ALTER TABLE [dbo].[Idea_Area] CHECK CONSTRAINT [FK_id_idea_en_idea_area]
GO
ALTER TABLE [dbo].[U_Conocimiento]  WITH CHECK ADD  CONSTRAINT [FK_idArea_Del_Conocimiento] FOREIGN KEY([id_Area_Del_Conocimiento])
REFERENCES [dbo].[Area_Del_Conocimiento] ([id_Area_Del_Conocimiento])
GO
ALTER TABLE [dbo].[U_Conocimiento] CHECK CONSTRAINT [FK_idArea_Del_Conocimiento]
GO
ALTER TABLE [dbo].[U_Conocimiento]  WITH CHECK ADD  CONSTRAINT [FK_idUsuario_Conocimiento] FOREIGN KEY([id_Usuario])
REFERENCES [dbo].[Usuario] ([id_Usuario])
GO
ALTER TABLE [dbo].[U_Conocimiento] CHECK CONSTRAINT [FK_idUsuario_Conocimiento]
GO
USE [master]
GO
